<header id="header" class="page-header no-padding no-margin">
    <div class="page-header-container" itemscope="" itemtype="http://schema.org/organization">

        <span id="mobile-menu" class="mobile-tablet left">
            <span></span>
            <span></span>
            <span></span>
        </span>

        <a itemprop="url" class="logo" routerLink="">
            <img itemprop="logo" src="https://www.hackett.com/skin/frontend/hackett/default/images/logo.png" alt="Hackett">
        </a>


        <span id="mobile-cart" class="mobile-tablet right">
            <span class="icon-BAG2"></span>
            <a href="https://intl.hackett.com/north_en/checkout/cart/" data-target-element="#header-cart" class="has-event skip-link skip-cart">
                <span class="label">
                    <span class="text">Shopping Bag</span> <span class="quantity-mobile"></span>                    </span>
            </a>
        </span>

        <span class="icon-SEARCH mobile-header-search"></span>

        <!-- Navigation -->
        <header class="header-container">
        <div id="header-nav" class="">

            <nav id="nav">
                <ol class="nav-primary">
                    <li class="logo-fixed first only-desktop">
                        <a href="https://intl.hackett.com/north_en/">
                            <img src="https://www.hackett.com/skin/frontend/hackett/default/images/logo.png" alt="Hackett">
                        </a>
                    </li>
                    <li class="level0 nav-1 first parent">
                        <a routerLink="boys" class="level0 has-children">Boys</a>
                    </li>
                    <li class="level0 nav-2 parent">
                        <a  routerLink="men" class="level0 has-children">Men</a>
                    </li>
                    <li class="level0 nav-3 parent">
                        <a routerLink="accessories" class="level0 has-children">Accessories</a>
                    </li>
                    <li class="level0 nav-4 parent">
                        <a href="https://intl.hackett.com/north_en/the-gift-guide-1" class="level0 has-children">The Gift Guide</a>
                    </li>
                    <li class="level0 nav-5 parent">
                        <a href="https://intl.hackett.com/north_en/the-edit" class="level0 has-children">The Edit</a>
                    </li>
                    <li class="level0 nav-6 last parent">
                        <a href="https://intl.hackett.com/north_en/style-guide" class="level0 has-children">Style Guide</a>
                    </li>        
                </ol>
            </nav>
        </div>
        </header>
    </div>


</header>