<div class="container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="carousel-image" src="assets/slider_1.jpg" alt="...">
        </div>
        <div class="item">
            <img class="carousel-image" src="assets/slider_2.jpg" alt="...">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="main">
    <div class="row">
            <div class="col-lg-6">

                <a routerLink="jeans">
                    <div class="banner-image">

                        <img src="assets/jeans.jpg" alt="Image Alt">

                    </div>

                    <div class="banner-table">
                        <div class="banner-table-cell text-below-image align-center">
                            <h2 class="banner-title GianottenLT black" style="font-size: ">
                                JEANS                    </h2>
                        </div>
                    </div>
                </a>

            </div>



            <div class="col-lg-6">

                <a routerLink="jacket">
                <div class="banner-image">

                    <img src="assets/jacket.jpg" alt="Image Alt">

                </div>

                <div class="banner-table">
                    <div class="banner-table-cell text-below-image align-center">
                        <h2 class="banner-title GianottenLT black" style="font-size: ">
                            JACKETS                    </h2>
                    </div>
                </div>
                </a>

            </div>

            <div class="col-lg-6">

                <a routerLink="shirt">
                <div class="banner-image">

                    <img src="assets/shirts.jpg" alt="Image Alt">

                </div>

                <div class="banner-table">
                    <div class="banner-table-cell text-below-image align-center">
                        <h2 class="banner-title GianottenLT black" style="font-size: ">
                            SHIRTS                    </h2>
                    </div>
                </div>
                </a>

            </div>

            <div class="col-lg-6">

                <a routerLink="tshirt">
                <div class="banner-image">

                    <img src="assets/tshirts.jpg" alt="Image Alt">

                </div>

                <div class="banner-table">
                    <div class="banner-table-cell text-below-image align-center">
                        <h2 class="banner-title GianottenLT black" style="font-size: ">
                            T-SHIRTS                    </h2>
                    </div>
                </div>
                </a>

            </div>

            <div class="col-lg-12">
                <a routerLink="blazzers">
                    <div class="text-center">
                        <div style="width:50%;margin:auto">
                            <div class="banner-image">

                                <img src="assets/blazzers.jpg" alt="Image Alt">

                            </div>
                        </div>
                    </div>

                    <div class="banner-table">
                        <div class="banner-table-cell text-below-image align-center">
                            <h2 class="banner-title GianottenLT black" style="font-size: ">
                                BLAZZERS                    </h2>
                        </div>
                    </div>
                </a>

            </div>
    </div>



    <div class="footer-container">
        <span id="back-to-top" style="display: inline;">
            <i class="icon-ARROW3"></i>
            Back<br>to top    </span>
        <div class="footer">
            <div class="max-container">
                <div id="footer-social"> 
                    <span class="title">FOLLOW US</span>
                    <ul>
                        <li>
                            <a class="icon icon-FB" title="Follow us on Facebook" href="http://www.facebook.com/HackettLondon" onclick="return !window.open(this.href)">
                                <span class="hidden">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="icon icon-TWITTER" title="Follow us on Twitter" href="http://twitter.com/#!/hackettlondon" onclick="return !window.open(this.href)">
                                <span class="hidden">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a class="icon icon-INSTAGRAM" title="View our Instagram page" href="http://instagram.com/hackettlondon/" onclick="return !window.open(this.href)">
                                <span class="hidden">Instagram</span>
                            </a>
                        </li>
                        <!--
                                <li>
                                    <a class="icon icon-PINTREST" title="View our Pinterest" href="http://pinterest.com/hackettlondon/" onclick="return !window.open(this.href)">
                                        <span class="hidden">Pinterest</span>
                                    </a>
                                </li>
                        -->
                        <li>
                            <a class="icon icon-YOUTUBE" title="View our You Tube page" href="http://www.youtube.com/user/HackettLondonTV" onclick="return !window.open(this.href)">
                                <span class="hidden">YouTube</span>
                            </a>
                        </li>
                    </ul>

                </div>            
                <div class="block block-subscribe">

                    <script type="text/javascript">
                        //<![CDATA[
                        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
                        //]]>
                    </script>
                </div>
            </div>

            <div id="footer-dinamic-content">
                <div id="footer-links">  
                    <div id="menu-footer-header">
                        <div class="max-container">
                            <div class="block-title-header"><span>About Hackett</span></div>
                            <div class="block-title-header"><span>Contact Us</span></div>
                            <div class="block-title-header"><span>Customer Services</span></div>
                            <div class="block-title-header last"><span>Legal &amp; Cookies</span></div>
                        </div>
                    </div>

                </div>        </div>
        </div>
    </div>
</div>
</div>