<div class="main-container col1-layout">
    <div class="main">
        <div class="breadcrumbs is_landing" itemprop="breadcrumb">
            <ul itemscope="" itemtype="http://schema.org/BreadcrumbList" style="padding: 0px 0px 0px 121px;">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="home">
                    <a itemprop="item" href="https://intl.hackett.com/north_en/" title="Go to Home Page">Home</a>
                    <span>&gt;</span>
                    <meta itemprop="name" content="Home">
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="category156">
                    <strong itemprop="item">Men</strong>
                    <meta itemprop="name" content="Men">
                    <meta itemprop="position" content="2">
                </li>
            </ul>
        </div>
        <div class="col-main">

            <div class="page-title category-title">
                <h1>Men</h1>
            </div>



            <div class="row column" style="max-width: 960px">
                <div class=" column column-tablet column-mobile">


                    <div class="banner-image">
                        <a class="widget-link" href="https://intl.hackett.com/north_en/men/collection">                            <img src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_1.jpg" data-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_1.jpg" data-tablet-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_1.jpg" data-mobile-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_1_m.jpg" alt="Title/Alt image">
                        </a>    </div>

                    <div class="banner-table">
                        <div class="banner-table-cell text-below-image align-center">
                            <h2 class="banner-title GianottenLT black" style="font-size: 16px">
                                THE COLLECTIONS                    </h2>
                            <a href="https://intl.hackett.com/north_en/men/collection" class="banner-button GillSansLight white" alt="" title="" name="">
                                SHOP BY COLLECTION                    </a>
                        </div>
                    </div>

                </div>
            </div>




            <div class="row column2" style="max-width: 960px"><div class="widget-container" style="max-width: 960px">
                    <div class=" column2 column-2tablet column-mobile">


                        <div class="banner-image">
                            <a class="widget-link" href="https://intl.hackett.com/north_en/men/clothing/suits">                            <img src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_3.jpg" data-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_3.jpg" data-tablet-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_3.jpg" data-mobile-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_3m.jpg" alt="Title/Alt image">
                            </a>    </div>

                        <div class="banner-table">
                            <div class="banner-table-cell text-below-image align-center">
                                <h2 class="banner-title GianottenLT black" style="font-size: 16px">
                                    NEW ARRIVALS                    </h2>
                                <a href="https://intl.hackett.com/north_en/men/clothing/suits" class="banner-button GillSansLight white" alt="" title="" name="">
                                    SHOP NOW                    </a>
                            </div>
                        </div>

                    </div>



                    <div class=" column2 column-2tablet column-mobile">


                        <div class="banner-image">
                            <a class="widget-link" href="https://intl.hackett.com/north_en/men/clothing/new-arrivals">                            <img src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/W46/mens_2.jpg" data-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/W46/mens_2.jpg" data-tablet-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/W46/mens_2.jpg" data-mobile-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/W46/mens_2.jpg" alt="Title/Alt image">
                            </a>    </div>

                        <div class="banner-table">
                            <div class="banner-table-cell text-below-image align-center">
                                <h2 class="banner-title GianottenLT black" style="font-size: 16px">
                                    SUITS                    </h2>
                                <a href="https://intl.hackett.com/north_en/men/clothing/new-arrivals" class="banner-button GillSansLight white" alt="" title="" name="">
                                    SHOP NOW                    </a>
                            </div>
                        </div>

                    </div>
                </div></div>




            <div class="row column3" style="max-width: 960px"><div class="widget-container" style="max-width: 960px">
                    <div class=" column3 column3-tablet column-mobile">


                        <div class="banner-image">
                            <a class="widget-link" href="https://intl.hackett.com/north_en/men/clothing/blazers">                            <img src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_4.jpg" data-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_4.jpg" data-tablet-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_4.jpg" data-mobile-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_4.jpg" alt="">
                            </a>    </div>

                        <div class="banner-table">
                            <div class="banner-table-cell text-below-image align-center">
                                <h2 class="banner-title GianottenLT black" style="font-size: 16px">
                                    BLAZERS                    </h2>
                                <a href="https://intl.hackett.com/north_en/men/clothing/blazers" class="banner-button GillSansLight white" alt="" title="" name="">
                                    SHOP NOW                    </a>
                            </div>
                        </div>

                    </div>



                    <div class=" column3 column3-tablet column-mobile">


                        <div class="banner-image">
                            <a class="widget-link" href="https://intl.hackett.com/north_en/men/clothing/polo-rugby-shirts">                            <img src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_6.jpg" data-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_6.jpg" data-tablet-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_6.jpg" data-mobile-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_6.jpg" alt="Title/Alt image">
                            </a>    </div>

                        <div class="banner-table">
                            <div class="banner-table-cell text-below-image align-center">
                                <h2 class="banner-title GianottenLT black" style="font-size: 16px">
                                    POLOS                    </h2>
                                <a href="https://intl.hackett.com/north_en/men/clothing/polo-rugby-shirts" class="banner-button GillSansLight white" alt="" title="" name="">
                                    Shop Now                    </a>
                            </div>
                        </div>

                    </div>



                    <div class=" column3 column3-tablet column-mobile">


                        <div class="banner-image">
                            <a class="widget-link" href="https://intl.hackett.com/north_en/men/clothing/casual-shirts">                            <img src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_5.jpg" data-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_5.jpg" data-tablet-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_5.jpg" data-mobile-src="https://images.hackett.com/media/wysiwyg/SS17/landing/MENS_SS17/mens_5.jpg" alt="">
                            </a>    </div>

                        <div class="banner-table">
                            <div class="banner-table-cell text-below-image align-center">
                                <h2 class="banner-title GianottenLT black" style="font-size: 16px">
                                    CASUAL SHIRTS                    </h2>
                                <a href="https://intl.hackett.com/north_en/men/clothing/casual-shirts" class="banner-button GillSansLight white" alt="" title="" name="">
                                    Shop Now                    </a>
                            </div>
                        </div>

                    </div>
                </div></div>








            <!-- olapic -->
            <div id="olapic_specific_widget">
                <!--
        The content of this template along with Styles are renderd before any API call.
        You can place here the HTML needed to show a loading step. Use the template Styles
        to define the CSS rules.
                -->


            </div>
            <script type="text/javascript" src="https://photorankstatics-a.akamaihd.net/81b03e40475846d5883661ff57b34ece/static/frontend/latest/build.min.js" data-lang="en_GB" data-olapic="olapic_specific_widget" data-instance="bdd9d2cf8c19f0d8c73b75d817dc7c95" data-apikey="a073fc048114858754f83702934566592feefa8901cf919aa64d68b6dac6b7d6" data-tags="156" async="async"></script>

        </div>
    </div>
</div>